/* CUSTOM El Centro system CSS */

body,
html,
.body {
  background: #f3f3f3 !important;
}
.body-border {
  border-top: 2px solid #cccccc;
  border-bottom: 2px solid #cccccc;
}
.main-content {
	padding-top: 40px;
  padding-bottom: 15px;
}
.footer-content {
	padding-top: 40px;
}
.header-content {
	padding-top: 10px;
}
.container.header {
  background: #ffffff;
}
th.large-padding-right,
td.large-padding-right {
	padding-right: 25px;
}
th.large-padding-left,
td.large-padding-left {
	padding-left: 25px;
}
th.content-large-padding,
td.content-large-padding {
	padding-right: 25px;
	padding-left: 25px;
}
.content-button-row {
	padding-bottom: 40px;
}
.content-button-row a {
	text-transform: uppercase;
}
.body-border {
  border-top: 2px solid #cccccc;
  border-bottom: 2px solid #cccccc;
  background: #e4f0f1 !important;
}
.body-white-border {
  border-top: 2px solid #cccccc;
  border-bottom: 2px solid #cccccc;
  background: #fff !important;
}
.gold-bgr {
  background: #f6f5e4;
}
.row.row--green {
  background-color: #669999;
}
.button-row {
  margin-bottom: 15px;
}
.text-green {
  color: #669999;
}
.font-large {
  font-size: 18px;
}
h1 {
  font-weight: bold;
  margin-bottom: 0;
}
h4 {
  margin-bottom: 25px;
}
h5 {
  text-transform: uppercase;;
  font-weight: 700;
  margin-bottom: 0;
}
h1.gold-header {
  color: #9b9b66;
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 35px;
  margin: 40px 0 35px 0;
  margin: 40px 0 35px 0;
}
.sub-head {
	margin-bottom: 40px;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: bold;
}
img.ec-logo {
	width: 318px;
	height: 63px;
	max-width: 318px;
}
img.ec-sig {
	width: 246px;
	height: 50px;
	max-width: 246px;
}
img.intro-img {
	margin-bottom: 20px;
}
th.large-padding-right,
td.large-padding-right {
	padding-right: 25px;
}
th.large-padding-left,
td.large-padding-left {
	padding-left: 25px;
}
.welcome-block p {
	margin-bottom: 10px;
}
p.no-margin {
	margin-bottom: 0;
}
.first-row {
	margin-top: 40px;
}
.bullet img {
	width: 53px;
	height: 53px;
}
img.welcome-block-img {
	height:auto !important;
	max-width:360px !important;
	width: 100% !important;
}
table.button.button--wide {
	width: 100%;
	max-width: 246px;
}
table.button.button--wide a {
	width: 100%;
	text-align: center;
}
table.button.large.button--wide table a {
	padding-left: 0;
	padding-right: 0;
}
/* Font Styles and sizes */
strong a,
strong a:hover,
strong a:visited,
strong a:active {
	color: #333;
	font-weight: 700;
}
table.button-margin {
	margin-bottom: 40px;
}
table.button-view-more {
	margin-bottom: 40px;
	margin-top: 40px;
}
p.footer-copy {
    font-size: 14px;
    color: #666666;
    margin-bottom: 20px;
}
p.text-white,
h4.text-white {
  color: #ffffff;
}
a.footer-link {
  color: #666666;
  text-decoration: underline;
}
a.footer-link:hover {
  color: #333;
}
a.footer-link:active {
  color: #666666;
}
a.footer-link:visited {
  color: #666666;
}

@media only screen and (max-width: 596px) {
    table.button-margin {
	    margin-bottom: 20px;
    }
    p {
    	margin-bottom: 20px;
	  }
	h4 {
      margin-bottom: 15px;
    }
}
