.myList li {
    display:none;
}
.loadMore {
    color:green;
    cursor:pointer;
    //display:none;
}
.loadMore:hover {
    color:black;
}
.showLess {
    color:red;
    cursor:pointer;
    display:none;
}
.showLess:hover {
    color:black;
}
/* Base fonts */

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h1 {
  font-size: 40px;
  margin-bottom: $vertical-height/3;
}

h2 {
  font-size: 30px; // 26/30px
  margin-bottom: 30px;
}

h3 {
  font-size: 24px; // 34/39px
}

h4 {
  font-size: 22px; // 34/39px
}

h5 {
  font-size: $base-font-size;
}

h6 {
  font-size: $base-font-size;
}

p {
  font-size: 20px;
  line-height: $base-line-height;
  margin-bottom: 1.25em;
}
ul li {
  line-height: $base-line-height;
}
ul.bullet-list {
  font-size: 20px;
  margin-bottom: 1.25em;
  list-style: disc;
  margin-left: 1em;
}
ul.bullet-list-centered {
  font-size: 20px;
  margin-bottom: 1.25em;
  list-style: disc;
  list-style-position: inside;
  margin-left: 1em;
}
h2.green-header-uppercase {
  @include font-30;
  color: $blue;
  font-family: $f-ptsans-bold;
  text-transform: none;
}
h2.h-dash-style {
  @include font-30;
}
.h-dash-style {
  font-family: $f-ptsans-bold;
  text-transform: none;
  &:before {
   content: '\2014';
   margin-right: 5px;
  }
  &:after {
    content: '\2014';
    margin-left: 5px;
  }
}
.text-center {
  text-align: center;
}
/* Typography and Images */

.doc-content img {
	max-width: 100%;
	width: auto;
	height: auto;
}
.cta-link {
  font-family: $f-ptsans-bold;
  text-transform: uppercase;
  font-size: 20px;
  &:after {
    content: ' \003e';
  }
  &--back {
    &:after {
      content: '';
    }
    &:before {
      content: '\003c ';
      padding-right: 3px;
    }
  }
}

.career-items {
	text-align: center;
}
.green-text {color: $green;}
.cta-button {
	padding: 15px 35px;
	min-width: 228px;
	background: $blue;
	color: #fff;
	display: inline-block;
	font-size: 20px;
	line-height: 1.3em;
	font-family: $f-ptsans-bold;
	margin: 10px auto 0px;
	@include transition (all .2s ease-in-out);
	&:hover, &:active, &:focus {background: lighten($blue, 3%);color: #fff;}
}
h1.icon {
	position: relative;
	padding-left: 45px;
	i {
		position: absolute;
		left: 0;
		top: 5px;
	}
	&.green {color: $green;}
	&.blue {color: $blue;}
	&.red {color: $red;}
}
.more-info {
	font-size: em(12);
	text-transform: uppercase;
	position: relative;
	padding-right: 12px;
	font-weight: 700;
	&:after {
		content: "\003e";
		position: absolute;
		right: 2px;
		top:0;
	}
}