/* Additional Content Style */

.show_more,
.show_less {
 font-size: 20px;
  text-transform: none;
  font-family: $f-ptsans-bold;
	font-weight: bold;
  color: $blue;
  cursor: pointer;
}
.editable_content {
  ul {
    @include font-22;
    margin-bottom: 1.25em;
    list-style: disc;
    margin-left: 1em;
  }
  ol {
    @include font-22;
    margin-bottom: 1.25em;
    list-style: decimal;
    margin-left: 1em;
  }
}
.make-a-gift iframe { // hacky solution to get iframe to center
  max-width: 425px !important;
}
.content_rows {
  &__images { display: flex;
    justify-content: center;
    img {margin: 0 20px 20px 20px;}
  }
  h2 {text-align: center;}
}
.content_rows div.container--divider:last-of-type {
  border: none;
  padding-bottom: 0;
}
.news-buckets article {
	h1 {
		font-size: em(18);
		font-weight: 400;
	}
	p {font-size: em(13);line-height: normal;}
	img {display: block;margin-bottom: .5em;@include img-border;}
	.meta {font-size: em(12); text-transform: uppercase;font-weight: 700;color: #000;}
}

.callouts {
	margin-top: 40px;
}
.callouts > div > div {
	border-top: 1px solid $light-gray;
	@include media($medium-screen) {
		border-left: 1px solid $base-accent-color;
		border-top: none;
		padding-left: 1em;
		min-height: 200px;
		&:first-child {border-left: none;padding-left: 0;}
	}
}
.callouts.center {
	text-align: center;
}
.post_author {
  font-size: 20px;
  strong {font-weight: normal; font-size:20px;}
}
.staff-items {
  h3 {
    font-size: 22px;
  }
  p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  img {
    border-radius: 50%;
    max-width: 209px;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
}
/* WP Tweaks */
.blog, .single-post {
  article {
    //margin-bottom: $vertical-height;
    //padding-bottom: $vertical-height/2;
    //border-bottom: 2px solid $c-tan;
	  padding-bottom: 10px;
	  text-align: center;
	  
	  p { a {
		  font-weight: bold;
		  }}
	  
	  footer {
		  display: none;
	  }
	  img {
		width: calc(100% - 30px);
		height: auto;
		max-width: 510px;
		margin: 0 auto;
		border: solid #FFF 6px;
		-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
		-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
		box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
	  }
	  
	  p {
		  &:nth-of-type(2) {
		  	text-align: center;
		  }
	  }  
	  
    &:last-of-type {
      border-bottom: none;
      padding-bottom: 0;
    }
    h1 {
		margin-bottom: 5px;
        font-size: 30px;
        line-height: 40px;
      a {color: $blue;
		font-size: 30px;}
    }
  }
}
p.blog-pagination {
  font-family: $f-ptsans-bold;
  text-transform: uppercase;
  text-align: center; 
  font-size: 16px;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	float: left;
	margin: 0 10px 10px 0;
}

.alignright {
	float: right;
	margin: 0 10px 10px 0;
}

.wp-caption {
	border: 1px solid $light-gray;
	text-align: center;
	background-color: #fff;
	padding-top: 4px;
	margin: 10px;
	border-radius: $base-border-radius;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}
.bx-wrapper .bx-controls-direction a {
	z-index: 999 !important;
}
p.no-margin {
  margin-bottom: 0;
}
