footer.doc-foot {
    padding: 0 $site-padding;
	margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  .legal {
    text-align: center;
    font-size: 16px;
    color: $med-gray;
	margin-bottom: 30px;
      display: flex;
  }
  .social {
    display: flex;
    justify-content: flex-end;
    li {
      display: inline-block;
      font-size: 48px;
      a {
        color: $blue;
        &:hover{ color: $blue;}
      }
    }
  }
}
.bx-wrapper .bx-viewport {
	box-shadow: none !important;
	border: none !important;
	background: transparent !important;
	position: static !important; /* This is relative on the element via js...seems to push it left */
}