form {
  color: $base-font-color;
  select {
    width: 100%;
  }
  label {
    margin-bottom: 0;
  }
	
  input[type],
  select,
  textarea {
    border-radius: 0;
    font-size: 20px;
  }
	.wpcf7-submit { 
		padding: 16px 80px;
		margin-bottom: -20px;
		margin-top: 15px;
	}
}
.form_list {
  li {
    margin-bottom: $vertical-height/2;
    }
  label {
    margin-bottom: 5px;
    font-size: 22px;
  }
}
/* Contact Form 7 Overrides */

body input[type=text].wpcf7-not-valid, body input[type=email].wpcf7-not-valid, body input[type=tel].wpcf7-not-valid, body textarea.wpcf7-not-valid {
border: 1px solid #9e0b0f;
}
body span.wpcf7-not-valid-tip {
display: block;
color: #FFF;
font-family: $header-font-family;
border: none;
position: relative;
top: auto;
left: auto;
padding: 0;
margin-top: 2px;
background: none;
font-size: 16px;
}

body div.wpcf7-validation-errors {
background: #fab3b5;
border: 1px solid #9e0b0f;
color: #FFF;
font-family: $header-font-family;
}

body div.wpcf7-response-output {
@include font-22;
line-height: 1.2em;
margin: 10px 0;
padding: 20px;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
font-family: $header-font-family;
}

body .wpcf7-mail-sent-ng {
background: #fff2e2;
border: 1px solid #ffbc8a;
color: #e17731;
}

body .wpcf7-mail-sent-ok {
background: #91bbba !important;
border: none !important;
color: #004c4b !important;
}

.wpcf7 form .wpcf7-response-output, .wpcf7 form .wpcf7-not-valid-tip {
	color: #FFF !important;
}

.fix-grammarly {
  background: #fff;
  label {
    background: $blue;
	  color: #FFF;
    margin-bottom: 0;
    padding-bottom: 5px;
  }
  textarea {
    margin-bottom: 0;
    display: block;
	  color: #000;
  }
}

.wpcf7-form-control-wrap {
	color: #000;
}
