.doc-head {
	z-index: 9999;
	border-bottom: #003366 3px solid;
	height: auto;
	min-height: 153px;
}

.wpml-ls-native {
	text-transform: uppercase;
}
.widget_icl_lang_sel_widget {
  text-align: center;
  ul {
    display: inline-block;
    font-family: $f-ptsans-medium;
    position: relative;
    text-transform: none;
    &:before {
      content: url(../images/icon-world.png);
      height: 19px;
      margin-right: 4px;
      width: 19px;
      position: absolute;
      left: -16px;
      top: 4px;
    }
  }
  a {
    color: $blue;
  }
  @include media($medium-screen) {
    position: absolute;
    right: 0;
    top: 45px;
  }
}

.js-menu-main-nav-container {
	display: none;
}

.logo-header {
   max-width: 180px;
    width: calc(100% - 90px);
    height: auto;
    margin: auto;
    //float: right;
	//margin-bottom: 10px;
    //margin-right: 30px;
	
	transition-property: all;
  	transition-duration: 0.5s;
	-webkit-transition-property: all;
  	-webkit-transition-duration: 0.5s;
	-moz-transition-property: all;
  	-moz-transition-duration: 0.5s;
	-o-transition-property: all;
  	-o-transition-duration: 0.5s;
}

@media all and (min-width:400px) {
	.logo-header {
   max-width: 220px;
    width: calc(100% - 90px);
    height: auto;
    margin: 0 auto;
    float: none;
	margin-bottom: 10px;
}
}

@media all and (min-width: 641px) {
	.logo-header {
		max-width: 280px;
		float: none;
		margin: 0 auto;
	    padding-top: 20px;
	}
}

@media all and (min-width: 769px) {
	.logo-header {
		max-width: 350px;
		float: none;
		margin: 0 auto;
	}
}

.header-top {
  padding: 10px 0;
	text-align: center;
}

.js-menu-main-nav-container {
  display: none;
  &.is-active {display: block;}
	/*
  @include media($large-screen) {
    display: none;
	  &.is-active {display:none;}
  }*/
}
.main_menu {
	background: $c-white;
	text-align: center;
	nav {
    padding: 0 1em;
    width: 100%;
    position: relative;
    @include clearfix;
    ul {
      font-family: $f-ptsans-bold;
      margin: 30px -1em 100px;
		
      @include media($large-screen) {
        font-size: 34px;
      }
    }
    li {
      text-transform: none;
      &.current-menu-item { 
        > a{
          //background: $c-turq;
        }
      }
      &.current-menu-parent {
        > a{
          //background: $c-turq;
        }
      } 
    }
    a {
    	color: #003366;
    	text-align: center;
    	display: block;
		font-size: 30px;
    	line-height: 50px;
    	@include media($large-screen) {
		font-size: 34px;
        line-height: 60px;
		font-family: $f-ptsans;

    	}
    }
	}
	/*
	@include media($large-screen) {
    ul {
      display:flex;
      justify-content: center;
      width: 100%;
    }
    li {
      position: relative;
      color: #fff;
      a {
        padding: 0 .5em;
      }
      &:last-child {margin-right: 0;}
      &:hover {
        background: $c-turq;
        @include transition (all .2s ease-in-out);
      }
    }
	}*/
}
.main_menu nav ul.sub-menu {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	background: $c-turq-light;
	@include transition (opacity .25s ease);
}
.main_menu nav ul li li {
	float: none;
	font-size: rem(16);
	text-transform: none;
	display: block;
	a {padding: .5em 0;float: left;height: auto;text-align: left;}
}
.main_menu nav ul li:hover ul.sub-menu {
	visibility: visible;
	opacity: 1;
	min-width: 200px;
	width: 100%;
	z-index: 999;
	li {
		line-height: normal;
		a {float: none;line-height: normal;padding: 10px;}
	}
}

/* Styles for fancy Hamburger button */

button.hamburger {
  background: transparent !important;
  outline: none;
  z-index: 999999;
}
.hamburger-text {
  color: #fff;
  font-size: rem(22);
  font-weight: 700;
  display: inline-block;
  margin-right: 10px;
  padding-top: 3px;
}
.hamburger {
  display: flex;
  @include media($large-screen) {
    //display: block;
	//float: left; 
  }
}
.hamburger {
  padding: 15px 15px;
  margin: auto;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  overflow: visible; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #003366;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}
.hamburger--slider .hamburger-inner {
  top: 2px;
}
.hamburger--slider .hamburger-inner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}
.hamburger--slider .hamburger-inner::after {
  top: 20px;
}
.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--slider.is-active .hamburger-inner::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}
.hamburger--slider.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}
