/* Hero */
.subpage_hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  //height: 240px;
  display: block;
  align-items: center;
  justify-content: center;
  &__title {
  	font-size: 30px;
  	font-family: $f-ptsans-bold;
  	line-height: 1.4em;
  	margin: 0;
  	color: #999966;
  	padding: 0 15px;
  	text-align: center;
  	//max-width: 1000px;
  }
  &--has-title {
    //height: 426px;
  }
  &--no-hero {height: auto;}
  @include media($desktop-hero-break) {
    //padding-top: 17.5%;
    &--has-title {
      padding-top: 0;
      //height: 426px;
    }
  }
}

.subpage_hero_wrapper {
	width: 100%;
	position: relative;
	margin-bottom: -5px;
	.hero_image {
		width: 100%;
		height: auto;
	}
}
 .subpage_hero {
  &__title {
    //@include font-65;
    color: $blue;
    font-family: $f-ptsans-bold;
    text-transform: none;
	position: relative;
	display: block;
	bottom: 5px;
	text-align: center;
	width: 100%;
	background: rgba(255, 255, 255, 0.5);
	font-size: 30px;
	line-height: 36px;
	padding-top: 30px;
    padding-bottom: 40px;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
  }
  &--has-title {
    //height: 426px;
  }
}

@media all and (min-width: 480px) {
	 .subpage_hero {
  &__title {
    //@include font-65;
    color: $blue;
    font-family: $f-ptsans-bold;
    text-transform: none;
	position: relative;
	display: block;
	bottom: 5px;
	text-align: center;
	width: 100%;
	background: rgba(255, 255, 255, 0.5);
	font-size: 37px;
	line-height: 44px;
	padding-top: 30px;
    padding-bottom: 40px;
  }
  &--has-title {
    //height: 426px;
  }
}
}



@media all and (min-width: 750px) {
		.subpage_hero__title{

		 
		//@include font-65;
		color: $blue;
		font-family: $f-ptsans-bold;
		text-transform: none;
		position: absolute;
		bottom: 5px;
		text-align: center;
		width: 100%;
		background: rgba(255, 255, 255, 0.5);
		font-size: 48px;
		line-height: 64px;
		padding-top: 30px;
		padding-bottom: 40px;
	  }
	  .subpage_hero-has-title {
		//height: 426px;
	  }
	}



.img_slider {
  position: relative;
  &__slide {
    margin: 0;
    img {
      width: 100%;
    }
  }
  &__title {
    background: #FFF;
    position: relative;
    width: 100%;
    font-size: 30px;
    text-transform: none;
    //height: 114px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px; 
    img {
      display: none !important;
      @include media($mobile-hero-break) {
        display: block !important;
       // max-width: 226px !important;
        position: absolute;
        bottom: -85px;
        //left:50%;
        //transform:translate(-50%, -50%);    
      }
      @include media($large-screen) {
        bottom: -170px;
		  
        //max-width: 452px !important;
      }
    }
    h1 {
      color: $blue;
      font-family: $f-ptsans-bold;
      margin: 0;
      text-align: center;
		padding-bottom: 25px;
    	padding-top: 20px;
		font-size: 30px;
		line-height: 36px;
		transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
      @include media($medium-screen) {
        font-size: 48px;
		  line-height: 64px;
        color: $blue;
		  padding-bottom: 40px;
      }
    }
    @include media($mobile-hero-break) {
      
		display: block;
		bottom: 0px;
		//left: 50%;
		padding: 0;
		//transform: translate(-50%, -50%);
		position: absolute;
		background: rgba(255,255,255, 0.3);
		height: auto;
		
    }
  }
}