.program_icon {
  height: 144px;
  width: 144px;
  display: inline-block;
  &--youth {
    background: url(../images/icon-intervention-youth.png) no-repeat;
    background-size: 144px 144px;
    &.light-icon {
      background: url(../images/icon-intervention-youth-light.png) no-repeat;
      background-size: 144px 144px;      
    }
  }
  &--specialty {
    background: url(../images/icon-intervention-specialty.png) no-repeat;
    background-size: 144px 144px;
    &.light-icon {
      background: url(../images/icon-intervention-specialty-light.png) no-repeat;
      background-size: 144px 144px;      
    }
  }
  &--adult {
    background: url(../images/icon-intervention-adult.png) no-repeat;
    background-size: 144px 144px;
    &.light-icon {
      background: url(../images/icon-intervention-adult-light.png) no-repeat;
      background-size: 144px 144px;      
    }
  }
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9v5fuw');
  src:  url('fonts/icomoon.eot?9v5fuw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9v5fuw') format('truetype'),
    url('fonts/icomoon.woff?9v5fuw') format('woff'),
    url('fonts/icomoon.svg?9v5fuw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\f002";
}
.icon-twitter-square:before {
  content: "\f081";
}
.icon-facebook-square:before {
  content: "\f082";
}
.icon-linkedin-square:before {
  content: "\f08c";
}
.icon-pinterest-square:before {
  content: "\f0d3";
}
.icon-google-plus-square:before {
  content: "\f0d4";
}
.icon-youtube-square:before {
  content: "\f166";
}
.icon-instagram:before {
  content: "\f16d";
}