.job-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}
.job-opening-list {
  text-align: center;
  h3 {
    margin-bottom: 0;
  }
}
.job-opening {
  margin-bottom: 20px;
  h2 {
    margin-bottom: 0;
  }
}