/* Modules */
.programs_list {
  &__title {
    text-transform: uppercase;
    font-family: $f-ptsans-bold;
    @include font-18;
  }
  &__program {
    margin-bottom: $vertical-height;
  }
  &--locations_programs {
    border-bottom: 3px solid $blue;
    margin-bottom: $vertical-height;
    li {
      max-width: em(680);
      margin: 0 auto $vertical-height;
      padding: 0 $site-padding;
    }
    &:last-of-type {
      border-bottom: none;
    }
  }
}


.container--bgr-yellow.module--gift .container__content {
  p {color: $c-turq-light;}
}

.module--locations_details__location ul li::first-word {
	font-weight: bold;
}

.module {
  &--locations_details {
    text-align: center;
    &__location {
      font-size: 20px;
      li {
        margin-bottom: $vertical-height/2;
      }
    }
    @include media($medium-screen) {
      &__wrap {
      display: flex;
      }
      &__location {
        width: 100%;
      }
    }
  }
  &--resources {
    text-align: center;
    img {
      margin-bottom: $vertical-height/3;
      max-width: 160px;
    }
    &__description {margin-bottom: $vertical-height;}
    &__resource {
      margin-bottom: $vertical-height;
      &:last-of-type { margin-bottom: 0; }
      &__description {
        &:last-of-type { margin-bottom: 5px; }
      }
    }
    &__show-more {
		color: $blue;
      display: inline-block;
      margin: 0 auto 0;
    }
  }
  &--donors {
    &__wrap {
      //@include outer-container;
    }
    &__block {
      margin-bottom: 0;
      padding: 0 $site-padding 2.5rem;
      text-align: center;
      @include outer-container;
      &:last-of-type {
        margin-bottom: 0;
        border: none;
        }
      font-size: 20px;
      li {
        margin-bottom: 10px;
        a {
          color: $base-font-color;
          text-decoration: underline;
          &:hover {text-decoration: none;}
        }
      } 
      @include media($medium-screen) {
  		  //@include span-columns(4);
  		  //margin-bottom: 0;
  		}
    }
  }
  &--contact {
    p {@include font-22;}
    &__title {text-align: center;}
    &__description {text-align: center;}
    &__form{
      margin-top:$vertical-height/2;
      p {
        text-align: center;
      }
    }
  }
  &--locations {
    text-align: center;
    &__title {
      margin: 0 0 $vertical-height;
    }
    &__location {
      margin-bottom: $vertical-height;
      img {
        display: block;
        margin:0 auto $vertical-height;
      }
    }
    @include media($medium-large-screen){
      &__location {
        margin-bottom: 0;
      }
      &__wrap {
        display: flex;
        justify-content: space-around;
		max-width: 750px;
    	margin: 0 auto;  
      }
      &__location {
        width: 100%;
      }   
    }
  }
  &--quote {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    //height: 300px;
    //display: flex;
    align-items: center;
    justify-content: center;
    blockquote {
      color: $blue;
      margin: 0 auto;
      padding: 0;
      border: none;
		max-width: 460px;
		font-size: 27px;
      p {
        font-size: 27px;
        font-family: $f-ptsans-medium;
        quotes: "“" "”" "‘" "’";
        &:before {content: open-quote;}
        &:after {content: close-quote;}
      }
      cite {
        font-family: $f-ptsans-medium;
		font-size: 20px;
        color: $blue;
      }
    }
    @include media($medium-screen){
      //height: 468px;
    } 
  }
  &--gift {
    text-align: center;
    p {
      margin-bottom: $vertical-height/2;
    }
    .cta-button {
      margin-top: $vertical-height/2;
		text-transform: none;
    } 
  }
  &--programs {
    &__title {
      margin-bottom: $vertical-height/2;
    }
    .programs_list {
      margin: $vertical-height 0 $vertical-height/2;
      @include media($medium-screen){
        display: flex;
        width: 100%;
        justify-content: space-around;
      }
    }
  }
  &--locations_programs {
    .program_icon {
      margin-bottom: $vertical-height/2;
    }
  }
  &--feature_posts {
    @include clearfix;
    &__author {
      @include font-16;
      display: block;
      text-transform: uppercase;
      color: $med-gray;
    }
    &__cta {
      clear: both;
      margin: $vertical-height/2 0;
      text-align: center;
    }
    &__title {
      text-align: center;
      //margin-bottom: $vertical-height;
    }
    &__content {
      margin-bottom: $vertical-height/2;
      text-align: center;
      h4 {font-family: $f-ptsans-bold;}
      &--first {
        h4 {
          @include font-30;
          margin-bottom: 0;
        }
      }
    }
    &__excerpt {
      margin-top: $vertical-height/2;
    }
    @include media($medium-screen){
      &__content {
        width: 50%;
        float: right;
        clear: right;
        padding-left: 20px;
        text-align: left;
        &--singular {
          float: none;
          margin: auto;
          text-align: center;
        }
        &--first {
          float: left;
          text-align: center;
          padding-right: 20px;
          padding-left: 0;
        }
      }    
    }
  }
}
