.popup-con {
  font-family: $f-ptsans-medium;
  position: absolute;
  top: 0;
  display: none;
  background-color: rgba(255,255,255,0.75);
  z-index: 100;
  width: 100%;
  @include media($large-screen) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.close-x {
  width: 32px;
  height: 32px;
  color: #0a5c5c;
  background: transparent;
  padding: 0;
  position: relative;
  margin-right: 20px;
  &:before, &:after {
    position: absolute;
    left: 15px;
    top: 0;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #0a5c5c;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
  &:hover:not(:disabled),
  &:active,
  &:focus:not(:disabled) {
    color: #0a5c5c;
    background-color: transparent;
    outline: none;
  }
}
.popup-inner-con {
  border: 8px solid #0a5c5c;
  outline: 2px solid #0a5c5c;
    outline-offset: -20px;
  width: 100%;
  background-color: #fdfde2;
  position: relative;
  @include media($large-screen) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 860px;
  }
}
.popup-header {
  background: url(../images/rsvp-header.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 20px 10px;
}
.logo-25 {
  max-width: 480px;
  width: 100%;
}
.save-date {
  background: #feeb95;
  padding: 50px 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    color: #0a5c5c;
    font-family: 'Parisienne', cursive;
    font-size: 42px;
  }
  &__spacer {
    height: 32px;
    width: 32px;
    display: none;
    margin-right: 20px;
  }
  @include media($medium-screen) {
    text-align: center;
    span {
      font-size: 52px;
    }
    &__spacer {
      display: block;
    }
  }
}
.popup-content {
  padding: 30px;
  text-align: center;
  color: #0a5c5c;
  p {
    font-size: 26px;
    margin: 15px 0;
  }
  span {
    display: block;
    line-height: normal;
  }
  &__invited {
    font-size: 18px;
    font-family: $f-ptsans-bold;
    text-transform: uppercase;
    margin-bottom: 5px;
    letter-spacing: .1em;
  }
  &__date {
    font-size: 42px;
    font-family: $f-ptsans-bold;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  &__time {
    font-size: 28px;
    font-family: $f-ptsans-bold;
    margin-bottom: 8px;
  }
  &__address {
    font-size: 20px;
    font-weight: 600;
  }
  &__features {
    font-size: 28px;
    margin: 30px 0;
    font-weight: 500;
  }
  &__donate {
    font-size: 20px;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
.message-overlay-con {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 0 25px;
  width: 100%;
  text-align: center;
  z-index: 1;
}
.popup-img-con .message {
  display: block;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 50px;
}
.popup-img-con .message-close {
  display: inline-block;
  text-transform: uppercase;
  margin-top: 5px;
  font-weight: 600;
}
.popup-img-con .message-close:hover {
  cursor: pointer;
}