/* RESKIN */
h1, h2, h3, h4, h5, h6{
	font-weight: bold;
	text-align: center;
}

.intro-home {
	background-color: #036;
}
.main_menu {
	
	button.hamburger {
		color: #003366;
		position: absolute;
		left: 0px;
		top: 50px;
	}
	.hamburger-text {
		//display: none; 
	}
	font-weight: 700;
}

.about-intro-container {
	//background-color: $blue;
	color: #FFF;
	.container__content--short {
		max-width: 670px;
		p {
			font-size: 20px;
		}
	}
}

.about-our-board-container {
	background-color: $light-yellow;
	padding-top: 50px;
	padding-bottom: 40px;
	.container__content  {
		color: $blue;
		text-align: center;
		h1, h2 {
			color: $blue;
			text-decoration: none;
		}
		
		h3, p {
			color: #000;
		}
		
		p {
			font-size: 20px;
		}
	}
}

.news-intro-container {
	padding: 40px 0 60px 0;
    margin: 0;
	//background-color: $blue;
	//color: #FFF;
	h1 {
		margin-bottom: 30px;
	}
}

.contact-intro-container {
	padding: 45px 0 25px 0;
    margin: 0;
	h1 {
		margin-bottom: 30px;
	}
}

.module--locations_details {
	padding-top: 0px;
	padding-bottom: 20px;
}

.module--locations_details__location {
	li:first-of-type {
		margin-bottom: 0px;
	}
}

.staff-items {
	.container__content {
		max-width: 35em;
		h2 {
			color: $blue;
		}
		
		h3 {
			padding-top:3px;
			padding-bottom: 23px;
		}
	}
}

.intro-container {
	//background-color: $blue;
	color: white;
	text-align: center;
	padding: 3.5rem 0;
	 
	h1 {
		font-size: 30px;
	}
	
	.container__content{
			h1 {
				font-size: 30px;
			}
		}
	
	p {
		font-size: 20px;
		max-width: 680px;
		margin: 0 auto;
	}
	
	.award-ribbon-wrapper {
		width: 100%;
		height: auto;
		max-width: 176px;
		margin: 0 auto;
		padding-top: 30px;
	}
}

.container-donorbox { 
	padding-bottom: 30px;
}

.page-template-tpl-page-home .intro-container {
	margin-top: -5px;
}

.page-template-tpl-page-home .intro-container p {
	max-width: 510px;
}

.our_donor_wrapper {
	.module--resources {
		padding-bottom: 0px;
	}
}
.our_resources_wrapper {
	.module--resources {
		padding-top: 0px;
		
		.module--resources__resource {
			margin-bottom: 10px;
			h3 {
				font-size: 20px;
				font-weight: normal;
			}
		}
	}
}

.show_more::before{
	content: '';
}
.show_more::after {
	content: ' >';
}
.show_less::before {
	content: '< ';
}
.show_less::after {
	content: '';
}


.module--donors {
		padding: 3.75rem 0 0px;
}

@media all and (min-width: 750px) {
	.intro-container {
		
		.container__content{
			h1 {
				font-size: 40px;
			}
		}
	}
	
	.page-template-tpl-page-home .intro-container {
		h1 {
			font-size: 30px;
		}
		p {
			max-width: 510px;
		}
	}
	
}

.module {
	h2 {
		font-family: $f-ptsans;
		font-size: 30px;
		font-weight: bold;
		color: $blue;
		text-transform: none;
	}
	
	p {
		font-family: $f-ptsans;
		font-size: 20px;
		font-weight: 400;
	}
}


.module--quote {
	padding: 40px 0;
	blockquote {
		p {
			color: $blue;
			font-family: $f-ptsans;
			font-size: 27px;
		}
		
		cite {
			color: $blue;
		}
		
		cite:before {
			display: none;
		}
	}
}

.page-template-tpl-page-programs .intro-container p {
	max-width: 680px;
}

.page-template-tpl-page-programs .intro-container h1 {
	font-size: 30px;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}

.page-template-tpl-page-programs .container__content--short {
	max-width: 680px;
}

.module--locations__location {
	.location-name {
		color: $blue;
		font-size: 25px;
		padding-bottom: 15px;
	}
	
	.location-description {
		font-size: 18px;
	}
}

.module--locations__location a img {
	max-width: 320px;
	border: solid #FFF 6px;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
	margin-bottom: 30px;
}

.module {
	.module--locations__title {
		font-size: 30px;
		transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	}
}


@media all and (min-width: 750px) {
	.page-template-tpl-page-programs .intro-container h1 {
		font-size: 40px;
	}
	
	.module {
		.module--locations__title {
			font-size: 30px;
		}
	}
}


.module--programs {
	min-height: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
	
	display: table;
    width: 100%;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	
	.container_programs {
		display: table-cell;
		vertical-align: bottom;
		max-width: 35em;
		
		.content-wrapper {
			max-width: 35em;
			margin: 0 auto 10px auto;
			h2 {
				color: $blue;
				transition: all 0.5s ease;
			}

			p {
				color: #000;
				transition: all 0.5s ease;
			}
			
			.cta-button {
				text-transform: none;
				font-family: $f-ptsans-medium;
				font-size: 20px;
				margin-top: 22px;
				transition: all 0.5s ease;
			}

		}
	}
}
@media screen and (min-width: 769px) {
	.module--programs {
		min-height: 630px;
		transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	}
}

.module--contact__title {
	margin-bottom: 15px;
}

.module .location-title-header {
	color: black;
	font-size: 24px;
	margin-bottom: 0;
	padding-bottom: 0;
}

.wpcf7-submit {
  background-color: #3b85b7 !important;
  -webkit-font-smoothing: antialiased;
  font-size: $base-font-size;
  font-weight: 700;
  font-family: $secondary-font-family;
  text-transform: uppercase;
  border-radius: 0;
  padding: 15px 35px;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
  
}
.wpcf7-submit:hover {
	background-color: #599fce !important;
}

div.wpcf7 .ajax-loader {
	display: block !important;
	float: none;
}

.donor-box-title {
	color: $blue;
	font-size: 30px;
	padding-bottom: 20px;
}
.donor-box-description {
	color: black; 
	font-weight: normal;
	font-size: 20px;
	padding-bottom: 30px;
}

.contactCTASection {
	.container__content {
		text-align: center;
		p {
			max-width: 480px;
			margin: 10px auto 10px;
		}
		.button-cta {
			text-transform: none;
			color: white;
			background-color: $blue;
			margin: 20px auto 0;
			font-family: $f-ptsans;
			font-weight: normal;
			font-size: 20px;
			padding: 15px 60px;
		}
	}
}

.donor-box-wrapper {
	max-width: 430px;
	margin: 0 auto;
}

.container__news {
	.post_author {
		text-align: center;
	}
}

.single-jobs {
	.subpage_hero {
		display: none;
	}
}

.container--bgr-white {
	background-color: #FFF !important;
	h1, h2, h3, h4, h5, h6 {
		color: $blue;
	}
	p {
		color: #000;
	}
}

.container--bgr-yellow {
	background-color: #f6f5e3 !important;
	h1, h2, h3, h4, h5, h6 {
		color: $blue;
	}
	p {
		color: #000;
	}
}

.container--bgr-blue {
	background-color: #003366 !important;
	h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
	p {
		color: #000;
	}
	cite {
		color: #FFF !important;
	}
}

#news-homepage-container {
    padding: 30px auto;
    text-align: center;
    h2 {
        font-size: 30px;
        font-weight: bold;
        color: $blue;
        line-height: 40px;
    }
    
    .latest-news-wrapper {
        max-width: 800px; 
        margin: 0 auto;
    }
    
    article {

        img {
            width: calc(100% - 30px);
            height: auto;
            max-width: 480px;
            margin: 0 auto;
            border: solid #FFF 6px;
            -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
            -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
            box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
        }
    }
    
    .cta-button, .more-link {
        padding: 15px 35px;
        min-width: 228px;
        background: $blue;
        color: #fff;
        display: inline-block;
        font-size: 20px;
        line-height: 1.3em;
        font-family: "PT Sans",sans-serif;
        margin: 10px auto 0px;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        margin-top: 30px;
        
        &:hover, &:active, &:focus {background: lighten($blue, 3%);color: #fff;}
    }
}