html, body {
  height: 100%;
}
body {
  position: relative;
}
.doc-wrap {
  background: $base-body-color !important;
  min-height: 100%;
  //margin-bottom: -160px;
}
.doc-wrap:after {
  content: "";
  display: block;
  //height: 160px;
}
.doc-foot {
  clear: both;
  margin-top: 25px;
}
.container {
  padding: $vertical-height*1.5 0; 
  &__content {
    @include outer-container;
    padding: 0 $site-padding;
    p:last-child {
      margin-bottom: 0;
    }
    &--short {
      max-width: 600px;
    }
    &--medium {
      max-width: 715px; //em(720);
		
    }
    &--large {
      max-width: 715px //em(840);
    } 
	&--480 {
	  max-width: 480px;
	}
	&--500 {
	  max-width: 500px;
	}
	&--520 {
	  max-width: 520px;
	}
	&--540 {
	  max-width: 540px;
	}
	&--560 {
	  max-width: 560px;
	}
	&--580 {
	  max-width: 580px;
	}
	&--600 {
	  max-width: 600px;
	}
	&--620 {
	  max-width: 620px;
	}
	&--640 {
	  max-width: 640px;
	}
	&--650 {
	  max-width: 660px;
	}
	&--680 {
	  max-width: 680px;
	}
	&--700 {
	  max-width: 700px;
	}
	&--715 {
	  max-width: 715px;
	}
	&--750 {
	  max-width: 750px;
	}
  }
  &--center {
    text-align: center;
  }
  &--margin-inner {
    padding: 50px 0;
    margin: 0;
  }
	&--bgr-blue {
		background: $blue;
    	color: #fff;
		
		h1, h2, h3, p, ul, li {
			color: #FFF !important;
		}
	}
  &--bgr-green {
    background: $blue;
    color: #fff;
    label {
      color: #fff;
    }
  }
  &--divider {
    position: relative;
    padding-bottom: $vertical-height*1.5; //60px
    border-bottom: 2px solid $blue;
    p:last-child {margin-bottom: 0;}
  }
  &--bgr-yellow {
    background: $light-yellow;
    h2 {color: $blue}
    .cta-button {
      background: $blue;
		color: #fff;
      &:hover, &:active, &:focus {background: $base-accent-color;color: #fff;}
    }
  }
}

.page-template-tpl-page-contact {
	h1 {
		color: $blue;
	}
}

/* The Fukol CSS 'grid system' */

.flex_grid {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5em;
}

.flex_grid > * {
  flex: 1 0 4em;
  margin: 0.5em;
}

.flex_grid > * {
  background: #222;
  padding: 1em;
  color: #fff;
  text-align: center;
}

.container--bgr-light-gray {
    background-color: $light-gray;
}
