// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: $helvetica;
$serif: $georgia;
$cursive: 'Satisfy', cursive;

$f-ptsans: 'PT Sans', sans-serif;
$f-ptsans-light: 'PT Sans', sans-serif;
$f-ptsans-medium: 'PT Sans', sans-serif;
$f-ptsans-bold: 'PT Sans', sans-serif;

$base-font-family: $f-ptsans;
$secondary-font-family: $helvetica;
$header-font-family: $f-ptsans;
$header-font-family-bold: $f-ptsans;
$base-font-weight: 400;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.3;
$base-border-radius: em(3);

$vertical-height:rem(40);
$site-padding: rem(20);

// Colors
///////////////////////////////////////////////////////////////////////////////

$c-black: #000;
$c-white: #FFF;
$blue: #003366;
$blue-light: #3b85b7;
$red: #bf4030;
$green:#69aa44;
$c-turq-light:#669999;
$c-turq:#006666;
$c-gold: #999966;
$c-tan: #cccbbd;

$dark-gray: #333;
$med-gray: #666;
$gray: #999;
$light-gray: #efefef;

$light-red: #FBE3E4;
$light-yellow: #f6f5e3;
$light-green:#d3eec6;
$orange: #FF6600;

// Body Color
$base-body-color: $c-white;

//  Font Colors
$base-font-color: $c-black;
$base-accent-color: lighten($blue, 5);
$secondary-accent-color: $red;

//  Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: lighten($blue, 5);

// Border color
$base-border-color: $light-gray;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;
