%button {
  @include button(flat, $blue);
  -webkit-font-smoothing: antialiased;
  font-size: $base-font-size;
  font-weight: 700;
  font-family: $secondary-font-family;
  text-transform: uppercase;
  border-radius: 0;
  padding: 15px 35px;
  @include transition (all .2s ease-in-out);
	&:hover {background: lighten($blue, 15%);color: #fff;}
}
