@mixin navigation-list {
    list-style-type:none;
    padding:0;
    margin:0;
    overflow:hidden;
    > li{
        display:block;
        float:left;
        margin-right: .5em;
        &:last-child{
            margin-right:0px;
        }
    }
}

@mixin white-button {
	padding: .5em 1em;
	border: 1px solid #fff;
	border-radius: $base-border-radius;
	background: transparent;
	color: #fff;
	display: inline-block;
	font-family: $secondary-font-family;
	@include transition (all .2s ease-in-out);
}
@mixin img-border {
	padding: 4px;
	border: 1px solid darken($light-gray, 10%);
	background: #fff;
	border-radius: $base-border-radius;
}

/* Font Sizes */


@mixin font-16 {
	font-size: rem(14);
	font-size: 14px;
	@include media($medium-screen){
  	font-size: rem(16);
  	font-size: 16px;
  }
}
@mixin font-18 {
	font-size: rem(16);
	font-size: 16px;
	@include media($medium-screen){
  	font-size: rem(18);
  	font-size: 18px;
  }
}
@mixin font-22 {
	font-size: rem(18);
	font-size: 18px;
	@include media($medium-screen){
  	font-size: rem(22);
  	font-size: 22px;
  }
}
@mixin font-24 {
	font-size: rem(18);
	font-size: 18px;
	@include media($medium-screen){
  	font-size: rem(24);
  	font-size: 24px;
  }
}
@mixin font-28 {
	font-size: rem(24);
	font-size: 24px;
	@include media($medium-screen){
  	font-size: rem(28);
  	font-size: 28px;
  }
}
@mixin font-30 {
	font-size: rem(26);
	font-size: 26px;
	@include media($medium-screen) {
  	font-size: rem(30);
  	font-size: 30px;
  }
}
@mixin font-32 {
	font-size: rem(24);
	font-size: 24px;
	@include media($medium-screen) {
  	font-size: rem(32);
  	font-size: 32px;
  }
}
@mixin font-33 {
	font-size: rem(25);
	font-size: 25px;
	@include media($medium-screen) {
  	font-size: rem(33);
  	font-size: 33px;
  }
}
@mixin font-39 {
	font-size: rem(35);
	font-size: 35px;
	@include media($medium-screen) {
  	font-size: rem(39);
  	font-size: 39px;
  }
}
@mixin font-40 {
	font-size: rem(35);
	font-size: 35px;
	@include media($medium-screen) {
  	font-size: rem(40);
  	font-size: 40px;
  }
}
@mixin font-65 {
	font-size: rem(55);
	font-size: 55px;
	@include media($medium-screen) {
  	font-size: rem(65);
  	font-size: 65px;
  }
}